.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup-inner {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    border-radius: 5px;
    background: #FEFEFE;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.popup-header {
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #D1C04B;
    display: flex;
    flex-direction: row;
}

.popup-header-text {
    flex: 1;
}
.popup-header-button {
}

.popup-content {
    overflow: auto;
    flex: 1;
    padding: 3rem;
}

.popup-content textarea {
    resize : none;
    width: 80%;
    height: 10rem;
}

.popup-event-title {
}
