.tags-search-text {
    max-width: 60%;
}

.tags-search-button-span {
    padding: 5px;
}

.tags-search-button {
    max-width: 30%;
}

.tags-widget {
    background-color: #EEEEEE;
    margin: 0.1rem;
    padding: 0.3rem 0.7rem;
    float: left;
    border-radius: 4px;
}

.tags-widget-delete {
    cursor: pointer;
    background-color: #AAAAAA;
    border-radius: 50%;
    margin-left: 5px;
	display: inline-block;
	line-height: 0px;
    padding: 10px 5px;
    font-weight: bold;
}

.tags-widget-delete:before {
    content: "×";
}

